.form__field-wrapper {
  width      : 100%;
  position   : relative;
  padding-top: 1.75em;
}

.form__field-wrapper + .form__field-wrapper {
  border-top: none;
}

.form__field-input:focus ~ .form__field-label {
  color           : #666;
  background-color: #EDEDED;
}

.form__field-input:focus {
  background-color: #EDEDED;
  color           : #333;
}

.form__field-label {
  position      : absolute;
  top           : 0;
  left          : 0;
  width         : 100%;
  padding       : 16px;
  padding-top   : 20px;
  padding-bottom: 0;
  margin        : 0;
  z-index       : 1;
  font-size     : .8em;
  color         : #999;
  font-weight   : 400;
  user-select   : none;
  cursor        : text;
}

.form__field-input {
  position      : relative;
  padding       : 2.625em 15px;
  width         : 90%;
  color         : #000000;
  border        : 1px solid #BDC3C7;
  outline       : 0;
  letter-spacing: 0.05em;
}

.form__submit-btn-wrapper {
  padding-top    : 2em;
  width          : 100%;
  display        : flex;
  justify-content: center;
}

.form__submit-btn {
  /*border          : 1px solid #20d6be;
  background-color: #20d6be;*/
  border        : 0px;
  background    : -webkit-linear-gradient(135deg,#fd46aa 0,#5609bf 100%);
  background    : linear-gradient(135deg,#fd46aa 0,#5609bf 100%);
  color         : white;
  display       : block;
  position      : relative;
  width         : 100%;
  height        : 80px;
  font-size     : 30px;
  letter-spacing: 1px;
  font-family   : 'CircularN';
  /*border-radius   : 3px;*/
}

.js-form__err-animation {
  animation: shake 150ms ease-in-out;
}

.form__error-wrapper {

  justify-content: center;
  max-width      : calc(100% - 2em);
  margin         : 0 auto;
  margin-bottom  : 1em;
}

.form__error {
  background-color: #FB4F4F;
  color           : white;
  margin          : 0;
  padding         : 0.5em 1em;
  font-size       : 0.8em;
  user-select     : none;
  border-radius   : 3px;
}

.js-form__err .form__error-wrapper {
  display: flex;
}

.js-form__err--user-doesnt-exist .form__error--username-not-registered,
.js-form__err--username-exists .form__error--username-taken,
.js-form__err--password-wrong .form__error--wrong-password,
.js-form__err--field-missing .form__error--field-missing {
  display: inline-block;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
