/*For each video element*/

/*.video {
    position: relative;
    display: inline-block;
    color: #fff;
    font-family: Helvetica;
    background-color: #000;
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.video:focus {
    outline: thin dotted;
}

.video__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.video--focused .video__controls,
.video:hover .video__controls {
    opacity: 1;
}
*/


.banner {
    height         : 100vh; 
    display        : flex;
    justify-content: center;
    align-items    : center;

    /* -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
}

.bannerBox {
    height          : 500px;
    width           : 1000px;
    /*background-color: #0033FF;
    border          : 15px solid #03f;*/

    /*background: -webkit-linear-gradient(135deg,#fd46aa 0,#5609bf 100%);
    background: linear-gradient(135deg,#fd46aa 0,#5609bf 100%);*/
}

.bannerBox-left {
    position: relative;
    width           : 500px;
    height          : 100%;
    float           : left;
    /*background-color: green;*/
}

.logoSquare-top {
    width           : 100%;
    height          : 104px;
    text-align      : center;
    font-size       : 50px;
    float           : left;
    /*background-color: red;*/
    margin-top      : 114px;
}

.logoSquare-bottom {
    width             : 83%;
    height            : 130px;
    text-align        : center;
    /*background-color: coral;*/
    font-size         : 25px;
    float             :right;
    margin-top        : 25px;
    margin-right      : 43px;
    font-weight: bold;
}

.bannerBox-right {
    position: relative;
    width   : 500px;
    height  : 100%;
    float   : right;
}

.logoImg {
    width: 85%;
}

.iphoneImg {
    width     : 320px;
    margin-top: -70px;
}

.promoVideo {
    position: absolute;
    margin-top: -572px;
    margin-left: 112px;
}

.promoVideo video {
    width: 277px;
}


.floating {
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floatingx {
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating {
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

.magazine-left {
    position: relative;
    width           : 333px;
    height          : 100%;
    float           : left;
    /*background-color: green;*/
}

.magazine-middle {
    position: relative;
    width           : 333px;
    height          : 100%;
    float           : left;
    /*background-color: green;*/
}

.magazine-right {
    position: relative;
    width           : 334px;
    height          : 100%;
    float           : left;
    /*background-color: green;*/
}

.magazine0Img {
    width: 310px;
}

.magazine1Img {
    width: 310px;
}

.magazine2Img {
    width: 310px;
}
