.Login {
  margin-top: 350px;
}

.form-page__wrapper {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 100%;
  width          : 100%;
  margin-top     : -3.5em;
}

.form-page__form-wrapper {
  max-width                        : 325px;
  width                            : 100%;
  /*border                         : 1px solid $very-light-grey; */
  border-radius                    : 3px;
  /*box-shadow                     : 0px 1px 3px rgba(0, 0, 0, 0.25);
  background-color                 : #fff;*/
  transform                        : translateY(-30px);
  -moz-animation-name              : dropHeader;
  -moz-animation-iteration-count   : 1;
  -moz-animation-timing-function   : ease-out;
  -moz-animation-duration          : 0.4s;
  -webkit-animation-name           : dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration       : 0.4s;
  animation-name                   : dropHeader;
  animation-iteration-count        : 1;
  animation-timing-function        : ease-out;
  animation-duration               : 0.4s;
}

@keyframes dropHeader {
    0% {
        transform: translateY(0px);
        opacity  : 0;
    }
    100% {
        transform: translateY(-30px);
        opacity  : 1;
    }
}

.form-page__img {
  width: 100%;
  margin-bottom: -5px;
}

.form-page__form-heading {
  text-align : center;
  font-size  : 1em;
  user-select: none;
}

.form-page__form-header {
  padding: 0em;
}
